/* FIRST PART */

.left-info button{
    margin-top: 40px;
    color: #666;
}

.left-info span, h3{
    color: #666;
    font-weight: 700;
}

.left-info  p{
    color: #666;
}

.number{
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 260px;
    padding: 20px 0px 20px 30px;
    margin-bottom: 30px;

}

.number h1{
    color: #72b626;
    font-size: 50px;
    font-weight: 700;
}
.number h1::after{
    content: "+";
    color: #72b626;
    font-size: 40px;
    font-weight: 700;
    position: absolute;
   
}

.number span{
    padding-left: 23%;
}
.number p, span{
    color:#666;
}


.number p::before{
    content: " ____ ";
    padding-left: 10px;
    padding-right: 10px;
    color: #666;
}

hr{
    width: 40%;
   margin-left: 30%;
   margin-top: 30px;
   margin-bottom: 30px;
}

/* SECOND PART */

.circular-part h3{
    text-align: center;
}

.CircularProgressbar-path, .CircularProgressbar-text {
    stroke: #72b626 !important;
    fill: #72b626;

    
}
.circular{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
   
}
.circular div{
    width: 15%;
}


.circular p{
    text-align: center;
    padding-top: 30px;
    color: #666;
    font-weight: 600;
}

/* LAST PART */

.exp-edu h3{
    text-align: center;
    color: #666;
    font-weight: 600;
    margin-bottom: 30px;
}

.eduPart li{
    list-style: none;
}

.icon i{
    color: aliceblue;
    background-color: #72b626;
    padding: 10px;
    border-radius: 50%;
}

.icon span{
    color : #666;
    background-color: #ddd;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 30px;
    margin-left: 30px;
}

.eduPart h5{
    color: #666;
    font-weight: 600;
    padding-top: 30px;
    padding-left: 65px;
   
}

.eduPart h5 span{
    font-size: 15px;
    position: relative;
    margin-left: 26px;
    padding-top: 5px;
}

.eduPart h5 span::before{
    content: " __ ";
    font-size: 15px;
    position: absolute;
    color: #666;
    font-weight: 800;
    margin-top: -3px;
    margin-left: -20px;
}

.eduPart p{
    padding-left: 65px;
    padding-top: 10px;
    margin-bottom: 70px;
    
}

.eduPart{
    display: flex;
}

.resumebox .firstLi::after{
   content: "";
    position: absolute;
    border-left:2px solid #666;
    padding-top: 120px;
    bottom: -166%;
   left: 175px; 
}

.resumebox .secondLi::after{
    content: "";
    position: absolute;
    border-left:2px solid #666;
    padding-top: 120px;
    bottom: -202%;
   /* left: 175px;  */
}


.resumebox .thirdLi::after{
    content: "";
    position: absolute;
    border-left:2px solid #666;
    padding-top: 120px;
    bottom: -238%;
   /* left: 175px;  */
}

.resumebox .fourthLi::after{
    content: "";
    position: absolute;
    border-left:2px solid #666;
    padding-top: 120px;
    bottom: -166%; 
   left: 725px; 
}

.resumebox .fifthLi::after{
    content: "";
    position: absolute;
    border-left:2px solid #666;
    padding-top: 120px;
    bottom: -202%;
   left: 725px; 
}

.resumebox .sixthLi::after{
    content: "";
    position: absolute;
    border-left:2px solid #666;
    padding-top: 120px;
    bottom: -238%;
   left: 725px; 
}